.c9/*
.smf/*
.npm/*
.tmp/*
.pm2/
output/*
plugin/*
!output/Android/README.md
!output/iOS/README.md
!plugin/Android/README.md
!plugin/iOS/README.md
scripts/node_modules
scripts/ui
scripts/themes
!scripts/settings.json
.templates
node_modules
package.json
sf_modules/
